.social {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(187, 187, 187);
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

.logofont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: bold;
}

.logofont:hover {
  color: blue;
}
.mobile-hide {
  display: none; /* Makes the image clickable */
}

/* Hide links & show only images on mobile */
@media (max-width: 700px) {
  .desktop-only {
    display: none; /* Hides the text links on mobile */
  }

  .mobile-hide {
    display: inline-block; /* Makes the image clickable */
  }
}
