.certi{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid yellow; */
    margin:50px;
}

.AWS{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.AWS:hover{
    transform: translateY(-10px);
}

.Azure{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.Azure:hover{
    transform: translateY(-10px);
}

.LinkedIn{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.LinkedIn:hover{
    transform: translateY(-10px);
}

.Terraform{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.Terraform:hover{
    transform: translateY(-10px);
}

.Kubernetes{
    margin-bottom: 30px;
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    border: 1px solid white;
    padding: 15px; 
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.Kubernetes:hover{
    transform: translateY(-10px);
}

.open{
    width: 100px;
    height: 40px;
    margin-top:18px ;
    background-color:rgb(17, 28, 230);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.open:hover{
    transform: translateY(-10px);
}




/* Modal overlay to cover the entire screen */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    
  }
  
  /* Modal content box */
  .modal-content {
    overflow-y: scroll;
    background: #141414; 
    padding: 2rem;
    max-height: 80vh;
    border-radius: 10px;
    width: 60%;
    text-align: center;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
  }
  
  /* Close button styling */
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .close:hover {
    color: red;
  }
  
  
  body.modal-open {
    overflow: hidden;
  }
  
  .modaldesign{
    display: flex;
   justify-content:space-between;
    border: 1px solid white;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    transition: transform 0.3s ease;
  }

  .modaldesign:hover{
    transform: translateY(-2px);
  }

  .certopen{
    border: 1px solid white;
    align-content: center;
    text-decoration: none;
    color: white;
    font-size: larger;
    width: 90px;
    height: 50px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: blue;
    transition: transform 0.3s ease;
  }

  .certopen:hover{
    transform: translateY(-2px);
  }