.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-top: 2rem;
    /* border-bottom: 1px solid yellow; */
  }
  
  .about-container {
    display: flex; 
    max-width: 1200px; 
    width: 100%;
    gap: 5rem; 
  }
  
  .logo-container {
    flex: 1;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin-left: -120px; 
  }
  
  
  .circular-logo {
    width: 480px;
    height: 480px;
    border-radius: 50%;
    object-fit: cover; 
    object-position: bottom; 
    border: 3px solid azure;
    transition: transform 0.3s ease;
  }
  .circular-logo:hover{
    transform: translateY(-10px);
  }
  
  .about-content {
    flex: 2; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
  .about-content h1 {
    font-size: 2rem;
    margin: 0;
    color: white;
  }
  
  .about-content h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: white;
  }
  
  .about-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 1rem;
  }
  
  .arrow-button {
    font-size: 3rem;
    color: white;
    background: none; 
    border: none; 
    cursor: pointer;
    outline: none;
    transition: transform 0.3s ease; 
  }
  
  .arrow-button:hover {
    transform: scale(1.2); 
    color: rgb(68, 210, 68);
  }
  
  .buttonplace{
    margin-left: 1400px;
  }

  .name{
    transition: transform 0.3s ease;
  }
  .name:hover{
    transform: translateY(-10px);
    color: rgb(16, 211, 120);
  }

  .about{
    transition: transform 0.3s ease;
  }
  .about:hover{
    transform: translateY(-10px);
    color: rgb(0, 255, 136);
  }